@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #686f8d;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #6dc8b7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 0 30px;
  border-radius: 0 0 5px 5px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-menu a {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-menu a:hover {
  color: #686f8d;
}


.sign-up-button {
  padding: 10px 5px;
  background-color: #f9a11c;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.3s;
}

.sign-up-button:hover {
  background-color: #686f8d;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .sign-up-button {
    margin-left: 20px;
  }
}


#app {
  width: 100vw;
  height: 100vh;
  background: #686f8d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #6b9ca2;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #6dc8b7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #f9a11c;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #ffffff;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #f9a11c;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
  }
}

.bottom-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #f9a11c;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;

  @media screen and (min-width: 1280px) {
    justify-content: center;
  }
}



textarea {
width: 100%;

color: #686f8d;
font-size: 18px;

padding: 10px;
background: #ffffff;
border-radius: 5px;
border: none;
outline: none;
}

button {
outline: 0;
border: 0;
cursor: pointer;
background: transparent;
}

form img {
width: 30px;
height: 30px;
}

/* Authentication container */
#auth-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 9999;
}

/* Register and login forms */
#register,
#login {
background-color: #686f8d;
padding: 20px;
border-radius: 5px;
margin-bottom: 10px;
}

#register form,
#login form {
display: flex;
flex-direction: column;
}

#register input,
#login input {
margin-bottom: 10px;
padding: 10px;
background-color: #ffffff;
border: 1px solid #6dc8b7;
color: #686f8d;
font-size: 16px;
border-radius: 5px;
outline: none;
}

#register button,
#login button {
padding: 10px;
background-color: #f9a11c;
color: #ffffff;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
outline: none;
border: none;
transition: background-color 0.3s;
}

#register button:hover,
#login button:hover {
background-color: #6dc8b7;
}